
*.bin
*.vsidx
*.json
Reserving/.vs/Reserving/v17/.suo
*.v2
*.cache
*.editorconfig
/Bookify/.containers
/Bookify/.vs
Bookify/.vs/Bookify/v17/.suo
/Bookify/bin
/Bookify/obj
/Bookify/src/Bookify.Api/bin
/Bookify/src/Bookify.Api/obj
/Bookify/src/Bookify.Application/bin
/Bookify/src/Bookify.Application/obj
/Bookify/src/Bookify.Application/obj
Bookify/src/Bookify.Application/obj/Debug/net8.0/Bookify.Application.AssemblyInfo.cs
/Bookify/src/Bookify.Domain/bin
/Bookify/src/Bookify.Domain/obj
/Bookify/src/Bookify.Infrastructure/bin
/Bookify/src/Bookify.Infrastructure/obj
